<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>0</integer>
	<key>YGYViewController</key>
	<dict>
		<key>moduleId</key>
		<string>1</string>
		<key>pageId</key>
		<integer>1</integer>
		<key>pageName</key>
		<string>Tab1-首页</string>
	</dict>
	<key>YGYPageOneViewController</key>
	<dict>
		<key>moduleId</key>
		<string>1</string>
		<key>pageId</key>
		<integer>2</integer>
		<key>pageName</key>
		<string>第一关</string>
	</dict>
	<key>YGYPageTwoViewController</key>
	<dict>
		<key>moduleId</key>
		<string>1</string>
		<key>pageId</key>
		<integer>3</integer>
		<key>pageName</key>
		<string>第二关</string>
	</dict>
	<key>YGYPageThreeViewController</key>
	<dict>
		<key>moduleId</key>
		<string>1</string>
		<key>pageId</key>
		<integer>4</integer>
		<key>pageName</key>
		<string>第三关</string>
	</dict>
</dict>
</plist>
